POSTGRES_USER=propel
POSTGRES_PASSWORD=copy-this
POSTGRES_DB=propel

DATABASE_URL=postgresql://propel:copy-this@localhost:5432/propel

BETTER_AUTH_SECRET=yup-this-one=

REDIS_PASSWORD=you-wont

MINIO_ROOT_USER=propel-admin
MINIO_ROOT_PASSWORD=ive-been-hacked

SMTP_HOST=smtp-host
SMTP_AUTH_USER=smtp-user
SMTP_AUTH_PASS=smtp-pass
