NODE_ENV=development|production
TZ=UTC
KOSHI_API_IMAGE=image:latest
KOSHI_CLIENT_URL="scam.com"
KOSHI_API_URL="api.scam.com"

POSTGRES_USER=api
POSTGRES_PASSWORD=copy-this
DATABASE_URL="url"

REDIS_HOST='redis'
REDIS_USERNAME='user'
REDIS_PASSWORD='pass'
REDIS_PORT=6379

BETTER_AUTH_SECRET="i-didnt-change-it-just-use-this"

SMTP_HOST=smtp.address
SMTP_PORT=1234
SMTP_AUTH_USER=user
SMTP_AUTH_PASS=pass

MINIO_ROOT_USER=api-admin
MINIO_ROOT_PASSWORD=ive-been-hacked

SENDER_ADDRESS=spamthisone@email.com